
html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: hidden;
    background-color: #f2f2f2;
    transition: background-color 1s ease;
}

div.cover {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 98; 
    background-color: grey;
    opacity: 0.6;  
}


div.header-container {
    /*display:block;*/
    background-color: grey;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 1px 2px #9CACBC;
    background: linear-gradient(#e6f2ff, #ffffff); 
}


h1 {
    color: #404040;
    font-family: "Roboto",  sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

h1 img {
    width: 25px;
    height: 23px;
}

input:focus, textarea:focus {
    outline: none;
}

input[id='message']{
    height:30px;
    font-size:12pt;
    padding-right: 35px;
    padding-left: 10px;
    width: 400px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

input[id='link'] {
    height:30px;
    font-size:12pt;
    padding-right: 10px;
    padding-left: 37px;
    width: 300px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

form.chat {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

form.link-input {
    position: fixed;
    bottom: 15px;
    right: 17px;
}

#toast {
    visibility: hidden; /* Hidden by default */
    font-family: Arial;
    font-size: 11px;
    min-width: 80px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 8px; 
    position: fixed; 
    z-index: 100; 
    right: 145px; 
    bottom: 60px; 
}

#toast.show {
    visibility: visible;
}

div.menu-container {
    display: none;
    overflow-y: scroll;
    position: fixed;
    background-color: #ffffff;
    color: #737373; 
    border: 1px solid #f2f2f2;
    top: 0;
    height: 100%;
    width: 25%;
    box-shadow: 0px 1px 3px #d9d9d9;
    z-index: 99; 
}

div.menu-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #4d4d4d;
}

div.menu-container .fa-bars {
    z-index: 100;
}

div.menu-container ol {
    position: relative;
    display: block;
    word-wrap: break-word;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: left;
    margin: 50px 5px 15px 8px ;
    padding: 0;
    height: 100%;
    width: 100%;
}

div.menu-container ol li {
    display: inline-block;
    position: relative;
    width: 95%;
    height: 10%;
    padding-bottom: 10px;
}

div.menu-container ol li img {
    display: inline-block;
    position: absolute;
    width: 15%;
    top: 20%;
}

div.menu-container ol li #text {
    position: absolute;
    font-size: 80%;
    width: 70%;
    height: 100%;
    left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

div.menu-container ol li .fa-times-circle {
    position: absolute;
    right: 5px;
    top: 30%;
}

div.messages-container {
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    position: relative;
    width: 50%;
    height: 80%;
    background-size: contain;
    color: black;
    transition: width 2s ease;
}

#chat-msg {
    display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
}


#player {
    /*pointer-events: none;*/ /* prevent user pausing */
    position: fixed;
    top: 110px;
    right: 20px;
}

div.users-online {
    position: absolute;
    text-align: left;
    color: #4d4d4d;
    left: 10px;
    top: 42px;
}

div.users-online #text{
    position: relative;
    left: 2px;
    font-size: 14px;
    font-family: "Lucida Sans Unicode",  sans-serif;
}

.fa-user-circle-o{
    position: relative;
}

.fa-bars {
    position: absolute;
    color: #4d4d4d;
    left: 10px;
    top: 12.5px;
}

.fa-lightbulb-o {
    color: #4d4d4d;
    position: absolute;
    right: 10px;
    top: 12px;
    transition: color 0.2s ease;
}

.fa-film {
    color: #4d4d4d;
    position: absolute;
    right: 8px;
    top: 41px;
    transition: color 0.2s ease;
}

.fa-youtube-play{
    color: #808080;
    position: fixed;
    bottom: 23px;
    right: 336px;
    z-index: 10;
}

.fa-commenting {
    color: #808080;
    position: fixed;
    bottom: 25px;
    left: 433px;
}





